In [ ]:
## To do
# Combine the switch_associated.csv with:
# - Cor_phased
# - Depth
# - Sub-PS-tags
# - Flanking nucleotides

In [1]:
import pandas as pd
import numpy as np

In [8]:
switches = pd.read_csv("/hpc/umc_laat/gvandersluis/data/Ont_data_nhung/HG002/wf_hvar_ROI/switch_association.csv")
corr_phased = pd.read_csv("/hpc/umc_laat/gvandersluis/data/Ont_data_nhung/HG002/wf_hvar_ROI/cor_phased.vcf.gz", sep="\t", comment='#', names=['CHROM','POS','ID','REF','ALT','QUAL','FILTER','INFO','FORMAT', "sample"])
phase_depth = pd.read_csv("/hpc/umc_laat/gvandersluis/data/Ont_data_nhung/HG002/wf_hvar_ROI/AD_wf_hvar.wf_snp.vcf.gz", sep="\t", comment='#', names=['CHROM','POS','ID','REF','ALT','QUAL','FILTER','INFO','FORMAT', "sample"])

/scratch/47085974/ipykernel_2651991/4154464398.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  switches = pd.read_csv("/hpc/umc_laat/gvandersluis/data/Ont_data_nhung/HG002/wf_hvar_ROI/switch_association.csv")

In [10]:
switches

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,sample,GT,GQ,DP,PS,Switch_relevance
0,chr1,434272,.,A,C,4.07,PASS,F,GT:GQ:DP:AD:AF:PS,"0|1:4:33:18,13:0.3939:413640",0|1,4,33,413640.0,NaN
1,chr1,434286,.,C,G,15.85,PASS,F,GT:GQ:DP:AD:AF,"1/1:15:33:0,29:0.8788",1/1,15,33,NaN,NaN
2,chr1,434292,.,T,C,20.74,PASS,F,GT:GQ:DP:AD:AF:PS,"0|1:20:33:17,14:0.4242:413640",0|1,20,33,413640.0,NaN
3,chr1,434325,.,C,G,13.74,PASS,F,GT:GQ:DP:AD:AF:PS,"0|1:13:33:8,21:0.6364:413640",0|1,13,33,413640.0,NaN
4,chr1,434364,.,A,G,16.92,PASS,F,GT:GQ:DP:AD:AF:PS,"1|0:16:33:24,8:0.2424:413640",1|0,16,33,413640.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3912429,chrY,26117052,.,G,T,2.78,PASS,F,GT:GQ:DP:AD:AF:PS,"1|0:2:7:0,6:0.8571:26116800",1|0,2,7,26116800.0,NaN
3912430,chrY,26117825,.,C,T,5.52,PASS,F,GT:GQ:DP:AD:AF:PS,"1|0:5:6:1,5:0.8333:26116800",1|0,5,6,26116800.0,NaN
3912431,chrY,26118416,.,T,A,4.62,PASS,F,GT:GQ:DP:AD:AF:PS,"1|0:4:6:0,5:0.8333:26116800",1|0,4,6,26116800.0,NaN
3912432,chrY,26119317,.,TGAA,T,3.20,PASS,F,GT:GQ:DP:AD:AF:PS,"1|0:3:5:3,2:0.4:26116800",1|0,3,5,26116800.0,NaN
3912433,chrY,26120567,.,G,GC,6.78,PASS,F,GT:GQ:DP:AD:AF:PS,"1|0:6:3:0,3:1:26116800",1|0,6,3,26116800.0,NaN

In [13]:
corr_phased

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,sample
0,chr1,434272,.,A,C,4.07,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"0|1:4:33:18,13:0.3939:413640:unknown"
1,chr1,434286,.,C,G,15.85,PASS,F,GT:GQ:DP:AD:AF:Cor_phased,"1/1:15:33:0,29:0.8788:NA"
2,chr1,434292,.,T,C,20.74,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"0|1:20:33:17,14:0.4242:413640:unknown"
3,chr1,434325,.,C,G,13.74,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"0|1:13:33:8,21:0.6364:413640:unknown"
4,chr1,434364,.,A,G,16.92,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"1|0:16:33:24,8:0.2424:413640:unknown"
...,...,...,...,...,...,...,...,...,...,...
3912429,chrY,26117052,.,G,T,2.78,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"1|0:2:7:0,6:0.8571:26116800:unknown"
3912430,chrY,26117825,.,C,T,5.52,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"1|0:5:6:1,5:0.8333:26116800:unknown"
3912431,chrY,26118416,.,T,A,4.62,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"1|0:4:6:0,5:0.8333:26116800:unknown"
3912432,chrY,26119317,.,TGAA,T,3.20,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"1|0:3:5:3,2:0.4:26116800:unknown"
3912433,chrY,26120567,.,G,GC,6.78,PASS,F,GT:GQ:DP:AD:AF:PS:Cor_phased,"1|0:6:3:0,3:1:26116800:unknown"

In [ ]:
lijstje = ["hoi", "ik", "ben", "Gwen"]
lijstje[:1]

In [18]:
corr_phased["Corr_phased"] = corr_phased["sample"].str.split(":").str[-1]
corr_phased[["CHROM", "POS", "Corr_phased"]]

        CHROM       POS Corr_phased
0        chr1    434272     unknown
1        chr1    434286          NA
2        chr1    434292     unknown
3        chr1    434325     unknown
4        chr1    434364     unknown
...       ...       ...         ...
3912429  chrY  26117052     unknown
3912430  chrY  26117825     unknown
3912431  chrY  26118416     unknown
3912432  chrY  26119317     unknown
3912433  chrY  26120567     unknown

[3912434 rows x 3 columns]

In [7]:
phase_depth

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,sample
0,chr1,434272,.,A,C,4.07,PASS,F;HP1_REF=0;HP1_ALT=0;HP2_REF=1;HP2_ALT=3;UNAS...,.,.
1,chr1,434286,.,C,G,15.85,PASS,F;HP1_REF=0;HP1_ALT=0;HP2_REF=0;HP2_ALT=4;UNAS...,.,.
2,chr1,434292,.,T,C,20.74,PASS,F;HP1_REF=0;HP1_ALT=0;HP2_REF=1;HP2_ALT=3;UNAS...,.,.
3,chr1,434325,.,C,G,13.74,PASS,F;HP1_REF=0;HP1_ALT=0;HP2_REF=0;HP2_ALT=4;UNAS...,.,.
4,chr1,434364,.,A,G,16.92,PASS,F;HP1_REF=0;HP1_ALT=0;HP2_REF=4;HP2_ALT=0;UNAS...,.,.
...,...,...,...,...,...,...,...,...,...,...
3912429,chrY,26117052,.,G,T,2.78,PASS,F;HP1_REF=0;HP1_ALT=2;HP2_REF=0;HP2_ALT=0;UNAS...,.,.
3912430,chrY,26117825,.,C,T,5.52,PASS,F;HP1_REF=0;HP1_ALT=2;HP2_REF=0;HP2_ALT=0;UNAS...,.,.
3912431,chrY,26118416,.,T,A,4.62,PASS,F;HP1_REF=0;HP1_ALT=2;HP2_REF=0;HP2_ALT=0;UNAS...,.,.
3912432,chrY,26119317,.,TGAA,T,3.20,PASS,F;HP1_REF=0;HP1_ALT=2;HP2_REF=0;HP2_ALT=0;UNAS...,.,.
3912433,chrY,26120567,.,G,GC,6.78,PASS,F;HP1_REF=1;HP1_ALT=0;HP2_REF=0;HP2_ALT=0;UNAS...,.,.